{% extends 'layout/base.html' %}

{% block main %}

    <main>

        {% block header %}
        
            {% include 'includes/header.html' %}
        
            
        {% endblock header %}

        {% block body %}
            <div class='container'>
                {% block container %}
                    <h1>Dashboard</h1>

                    <div class=" card text-white bg-secondary">
                        <form method='post'>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary" type='submit'>Generate URL</button>
                        </form>
                    </div>
                {% endblock %}
            </div>
        {% endblock body %}

        {% block footer %}{% endblock footer %}
                
    </main>

{% endblock main %}